
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document"></div>




 

        <div class="modal-body">
  

    
                <div class="login-container">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                        <div id="output"></div>
                        <img id="profile-img" class="avatar" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                         <div class="form-box">
                            <form action="" method="">
                                <input name="user" type="text" placeholder="Usuario">
                                <input type="password" placeholder="Password">
                                <button class="btn btn-info btn-block login" type="submit">Ingresar</button>
                       
                                <div id="register-link" class="text-right">
                                  <hr>
                                    <a routerLink="/Registrarse">
                                        <div  class="text-info mx-auto" data-toggle="modal" data-target="#exampleModalCenter">
                                          <button class="btn btn-info btn-block"><span class="fa fa-user-plus"></span>Nueva Cuenta</button>
                                        </div>
                                      </a>
                                    
                                </div>
                            </form>
                        </div>
                </div>
                    
   


            
        </div>

      </div>

 


