<div class="container-fluid">
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/diseño/online-shop-logo-shopping-icon-600w-574875313.webp" width="30" height="30" class="d-inline-block align-top" alt="">
    Shop Depot
  </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
   
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ingrese Búsqueda" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

</div>

  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3 mb-2 d-inline">
    <!-- Button trigger modal -->

  <a routerLink="/Login">
    <div  class="d-inline p-2" data-toggle="modal" data-target="#exampleModalCenter" alt="Login">
      <span class="text-dark fa fa-user-o"></span>
    </div>
  </a>

 
  <a routerLink="/Login">
    <div class="d-inline p-2"  data-toggle="modal" data-target="#exampleModalCenter">
    <span class="text-dark fa fa-shopping-cart"></span>
    </div>
  </a> 

  <a routerLink="/Login">
    <div class="d-inline p-2"  data-toggle="modal" data-target="#exampleModalCenter">
    <span class="text-dark fa fa-heart-o"></span>
    </div>
  </a> 

  <a routerLink="/Login">
    <div  class="d-inline p-2" data-toggle="modal" data-target="#exampleModalCenter">
      <span class="text-dark fa fa-sign-out"></span>
    </div>
  </a>

     
  </div>
</div>
</div>
</div>

